

.landing-container{
    display: flex;
    gap: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
    
}
.landing-left{
    flex:1;
    background-color: #1C4D78;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
    
    
}
.landing-right{
    flex:1;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slogan-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;      /* align to the right */
  justify-content: center;
  text-align: right;          /* text lines align to the right */
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 0.8;
  gap: 0;
}
.slogan-container p{
    margin: 0;
}


.blue-text {
  color:#1C4D78 ;
}
.black-text {
  color: black;
}
.appName{
    font-size: 5.5rem;
}

@media (min-width: 550px) {
  .landing-container {
    flex-direction: row;
  }
}

